body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.task, .report {
  word-wrap: break-word;
  min-width: 300px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.task-create {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-deck {
  padding: 20px;
}
.icons {
  margin-bottom: 20px;
}
.report-done-icon, .task-create-report-icon{
  margin-right: 15px;
}
.task-create-close-icon {
  margin-bottom: 20px;
}